<div class="container">
	<h3>Services</h3>

	<div ng-controller="CustomerController as vm">
		<pre>{{vm.customers | json}}</pre>
	</div>

	<hr>

	<p>{{vm.API_ROOT}}</p>
	<p>Original: {{vm.original}}</p>
	<p>After: {{vm.after}}</p>
	<div>
	0: <input ng-model="vm.sharedValue.widgetCount">
	</div>

	<div ng-controller="Controller1 as vm">
	1: <input ng-model="vm.sharedValue.widgetCount">
	</div>

	<div ng-controller="Controller2 as vm">
	2: <input ng-model="vm.sharedValue.widgetCount">
	</div>
</div>